{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <h2>{{ self.title }}</h2>
    <blockquote>{{ self.intro }}</blockquote>
    {{ self.author.fullname }}
    <p>{{ self.body|richtext }}</p>
    {% for item in self.gallery_images.all %}
        {% image item.image fill-340x260 %} 
        <span>{{ item.caption }}</span>
    {% endfor %}

    <!-- Tags -->
    {% if self.tags.all.count %}
        <h3>Tags</h3>
        {% for tag in self.tags.all %}
            <h5><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}<a></h5>
        {% endfor %}
    {% endif %}

    <!-- Categories -->
    {% with self.categories.all as categories %}
        {% if categories %}
            <h3>Categoies posted in: </h3>
            {% for category in categories %}
                <p>{{ category.name }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- todo -> Add a functionality such that when the person clicks on a particular cateogory, it 
        will send him to a page listing blog posts of that category.
    -->
    
{% endblock content %}