{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

    <div class="container" id="blog-box">
        
        <!-- header image of the blog -->
        {% with self.main_image as main_image %}
            {% image main_image original as img %}
            <div class="image-box__bd">
                <img src="{{ img.url }}" class="img-fluid blog-image__bd">
                <div class="title-on-image__bd">{{ self.title }}</h2></div>
            </div>
        {% endwith %}

        <!-- Blog Title -->
        <h2 class="text-center blog-title__bd">{{ self.title }}</h2>

        <!-- Blog Information -->
        <div class="row blog-info__bd">
            <div class="col-lg-6 col-12">
                <span>Author: </span><span> {{ self.author.fullname }}</span>
            </div>
            <div class="col-lg-6 col-12">
                <span>Date Posted: </span><span>{{ self.date }}</span>
            </div>
        </div>

        <!-- Intro -->
        <blockquote class="blog-intro__bd">{{ self.intro }}</blockquote>

        <!-- Main Blog Content -->
        <div class="blog-body__bd">
            {{ self.body }}
        </div>


        <!-- Gallery Images -->
        {% for item in self.gallery_images.all %}
            {% image item.image fill-340x260 %} 
            <span>{{ item.caption }}</span>
        {% endfor %}

        <!-- Tags -->
        <!-- Tags -->
        {% if self.tags.all.count %}
            <h3>Tags</h3>
            {% for tag in self.tags.all %}
                <h5><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}<a></h5>
            {% endfor %}
        {% endif %}

        <!-- Categories -->
        {% with self.categories.all as categories %}
            {% if categories %}
                <h3>Categoies posted in: </h3>
                {% for category in categories %}
                    <p>{{ category.name }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!--Related blog posts-->
        {% for related_post in self.related_blog_posts.all %}
            <p> {{ related_post.blog_post.title }}</p>
        {% empty %}{% endfor %}
        <!-- todo -> Add a functionality such that when the person clicks on a particular cateogory, it 
            will send him to a page listing blog posts of that category.
        -->
        <i class="fas fa-user"></i> <!-- uses solid style -->
        <i class="far fa-user"></i> <!-- uses regular style -->
        <i class="fal fa-user"></i> <!-- uses light style -->
        <i class="fas fa-bars"></i>
        <!--brand icon-->
        <i class="fab fa-github-square"></i> <!-- uses brands style -->
    </div>
{% endblock content %}