:root {
    /* --title-font: 'Kurale', serif; */
    --title-font: 'Dela Gothic One', cursive;
    --body-font: 'Raleway', sans-serif;
    --font-one: 'Arvo', serif;
    --font-two: 'Dosis', sans-serif;
    --font-three: 'Playfair Display SC', serif;
    --title-font-1: 'Playfair Display', serif;
}

body {
    background-color: whitesmoke;
}

/* Customizing the navbar */

#custom-nav .navbar-brand {
    color: black;
    font-weight: 800;
    font-size: 1.8rem;
    font-family: var(--title-font-1);
}

#custom-nav .nav-item .nav-link {
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    font-family: var(--body-font);
}

#custom-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid rgb(17, 0, 255);
}

#custom-nav .g-nav-toggler {
    color: black;
    font-size: 1.8rem;
}

#custom-nav .button-toggler:focus {
    outline: none !important;
    box-shadow: none;
}


/* Customizing Blog */
#blog-box {
    padding: 0;
    line-height: 2rem;  
    font-family: var(--body-font);
}

@media screen and (min-width: 1000px) {
    #blog-box {
        padding: 0 10%;
    }
}

@media screen and (max-width: 575px) {
    #blog-box .blog-body__bd {
        margin: 5%;
    }
}

#blog-box .blog-body__bd p{
    font-size: 1.3rem;
    text-align: justify;
    word-spacing: 2px;
}

#blog-box .blog-image__bd {
    margin-top: 0.5rem;
    border-radius: 20px;
}

#blog-box .image-box__bd {
   position: relative;
   text-align: center;
   color: black;
}

#blog-box .title-on-image__bd {
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* styling */
    padding: 0.3rem;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    font-family: var(--title-font-1);
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: white;
    backdrop-filter: drop-shadow(4px 4px 10px blue);
}

#blog-box .blog-title__bd {
    padding: 2rem;
    margin: 0.5rem;
    font-weight: 900;
    font-style: italic;
    font-family: var(--title-font-1);
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 1),
                2px 2px 2px rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    #blog-box .title-on-image__bd {
        display: none;
    }
    
    #blog-box .blog-title__bd {
        font-size: 2rem;
        text-align: left;
    }
}

#blog-box .blog-info__bd {
    margin: 1rem 0;
    padding: 0.6rem;
    text-align: center;
}

#blog-box .blog-info__bd span:nth-child(1) {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.4rem;
    font-family: var(--title-font-1);
}

#blog-box .blog-info__bd span:nth-child(2) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    font-family: var(--font-one);
}

#blog-box .blog-intro__bd {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;
    padding: 0.5rem 3rem;
    font-family: var(--font-two);
}

/* streams templates styling */
/* !-note: the .block- is added by wagtail, it is from the stream fields side */
.block-title {
    margin: 2rem 0 1rem 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: var(--title-font);
}