body {
    background-color: whitesmoke;
}



/* Customizing the navbar */

#custom-nav .navbar-brand {
    color: burlywood;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: cursive;
}

#custom-nav .nav-item .nav-link {
    color: white;
    font-size: 1.2rem;
}

#custom-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid red;
    transition: all 1s ease-in;
}



/* Customizing Blog */
#blog-box {
    padding: 0;
    line-height: 2rem;  
    font-family: sans-serif;
}

#blog-box .blog-body__bd p{
    font-size: 1.2rem;
}

#blog-box .blog-image__bd {
    margin-top: 0.5rem;
}

#blog-box .blog-title__bd {
    padding: 2rem;
    margin: 0.5rem;
    font-weight: bold;
    text-transform: capitalize;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
                2px 2px 2px rgba(0, 0, 0, 0.8);
}

#blog-box .blog-info__bd {
    margin: 0.5rem;
    padding: 0.6rem;
    text-align: center;
}

#blog-box .blog-info__bd span:nth-child(1) {
    color: rgba(255, 0, 0, 0.623);
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
}

#blog-box .blog-info__bd span:nth-child(2) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    font-family: sans-serif;
}

#blog-box .blog-intro__bd {
    color: rgba(0, 0, 0, 0.747);
    font-size: 1.2rem;
    padding: 0 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8),
                3px 2px 1px rgba(0, 0, 0, 0.3); */
}

/* streams templates styling */
/* !-note: the .block- is added by wagtail, it is from the stream fields side */
.block-title {
    margin-top: 0.5rem;
    color: rgb(34, 104, 255);
    font-weight: bold;
}

/* 
todo -> 1. Design the blog detail and the blog listing pages.
todo -> 1. Customize the navigation even more, make it nicer on mobile devices. Check to see if you can be able to make it drop down fully when on mobile devices.
*/